html {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(115deg, #f6f6f6 0%, #e9e9e9 74%);
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: lightslategrey;
}

main {
  display: grid;
  grid-row: 2/5;
  row-gap: 20px;
}

footer {
  grid-row: 5/6;
  position: relative;
  top: 5px;
}

/* main */
.container {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr repeat(3, 2fr) 1fr;

  width: 333px;
  height: 633px;
  border: 5px solid black;
  border-radius: 50px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: #0f1b58; */
  background-color: white;
  box-shadow: 6px 8px 3px rgb(136, 136, 136, 0.5);
}

nav button {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px rgb(136, 136, 136, 0.5);
}

nav button:hover {
  box-shadow: 2px 2px rgb(136, 136, 136, 0.5);
}

nav div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Left button */
nav .nav-left {
  right: 140px;
  width: 60px;
  height: 60px;
}

nav .nav-left button {
  padding: 0 2px 2px 0;
}

/* Center button */
nav .nav-center {
  width: 80px;
  height: 80px;
}

/* Right button */
nav .nav-right {
  left: 140px;
  width: 60px;
  height: 60px;
}

nav .nav-right button {
  color: #e2001a;
  padding: 0 0 8px 2px;
}

/* Forms */
.form-header {
  display: grid;
  text-align: center;
  row-gap: 10px;
}

.form-main > form {
  display: grid;
  row-gap: 10px;
}

.form-main > form input {
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
}

.form-main > form input:hover {
  border-bottom: 1px solid black;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

/* Global */
.error {
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  background-color: #ffce55;
  border: 1px solid #e5b94c;

  font-style: bold;
  text-align: center;
  inline-size: 200px;
  overflow-wrap: break-word;
}

.introduction h2 {
  max-width: 16ch;
}

.tweets {
  display: grid;
  grid-gap: 20px;
}

.tweets div > span {
  color: #538cd3;
  font-style: italic;
  font-weight: bold;
}

.tweets div > p {
  max-width: 25ch;
}

/* Defaults tags */
h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
