#boks {
  display: grid;
  place-items: center;

  position: fixed;
  top: 0;
  left: 0;
  background: rgb(157, 235, 255, 0.6);
  z-index: 998;
  height: 100%;
  width: 100%;
}

#boks button {
  position: absolute;
  z-index: 999;
}
