$light-background: #f2ece4
$light-text: #036
$dark-background: #6b717f
$dark-text: #d2e1dd

@mixin theme-colors($light-theme: true)
	@if $light-theme
		background-color: $light-background
		color: $light-text
	@else
		background-color: $dark-background
		color: $dark-text
