nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: deepskyblue;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

nav div#search {
  order: 1;
}

@media screen and (max-width: 800px) {
  nav {
    flex-wrap: wrap;
    justify-content: stretch;
  }
  nav div {
    flex-grow: 2;
  }

  div#search {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav div {
    justify-content: center;
  }

  nav div#search {
    order: 0;
  }

  div#search {
    justify-content: center;
  }
}
