@main_color: #2790d6;
.sec1 {
  p {
    color: @main_color;
  }
  h1 {
    font-family: "Helvetica Neue", sans-serif;
  }
}

.sec2 {
  > div {
    border: solid @main_color 1px;
    li {
      &:hover {
        color: @main_color;
      }
    }
  }
}
