$color_1: rgba(255, 255, 255, 0.87);
$color_2: #646cff;
$color_3: #535bf2;
$color_4: #213547;
$color_5: #747bff;
$font-family_1: Inter, Avenir, Helvetica, Arial, sans-serif;
$font-family_2: inherit;
$background-color_1: #242424;
$background-color_2: #1a1a1a;
$background-color_3: #ffffff;
$background-color_4: #f9f9f9;
$border-color_1: #646cff;

@mixin margin-padding-reset {
  @for $i from 0 through 1 {
    @if $color_2 ==#646cff {
      margin: 0px + $i;
      padding: floor(0.1)px;
    }
  }
}

:root {
  font-family: $font-family_1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: $color_1;
  background-color: $background-color_1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.addUserForm {
  margin: 20px;

  form {
    display: flex;
    // flex-direction: column;

    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;



      &:last-child {
        display: flex;
        justify-content: center;
      }

    }
  }
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 10px dotted whitesmoke;
}

.myForm {
  display: flex;
  flex-direction: column;

  form {
    >div {
      display: flex;
      flex-direction: column;
      padding: 5px 0 5px 0;
      justify-content: center;
    }
  }
}

.searchBar {
  margin: 25px 0 25px 0;

  input {
    min-width: 300px;
    margin-right: 10px;
  }
}

table {
  text-align: center;

  select {
    text-align: center;
    width: 100%;
  }
}

td,
th {
  text-align: center;
  padding: 10px 5px 0px 5px;
}

td {
  &:first-child {
    font-weight: bold;
  }
}

a {
  font-weight: 500;
  color: $color_2;
  text-decoration: inherit;

  &:hover {
    color: $color_3;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 17px;
}

h2 {
  margin-bottom: 8px;
}

button {
  @include margin-padding-reset;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bol;
  font-family: $font-family_2;
  background-color: $background-color_2;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $border-color_1;
  }

  &:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.confirm {
  @extend button;
  background-color: #48ac19e7;
}

.update {
  @extend button;
  background-color: #ac7d19e7;
}

.warrning {
  @extend button;
  background-color: #c34927e7;
}


.App {
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $color_4;
    background-color: $background-color_3;
  }

  a {
    &:hover {
      color: $color_5;
    }
  }

  button {
    background-color: $background-color_4;
  }
}