#record_forms {
  width: 100%;
  margin: 5px 0px 5px 0px;
}

#record_forms form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#record_forms form div {
  align-items: center;
  justify-content: space-between;
}
