<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <a th:href="@{/cars/add}">Add car</a>
    <a th:href="@{/cars/del}">Del car</a>
    <a th:href="@{/cars/upd}">Upd car</a>
</body>
</html>