<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<footer th:insert="cars.html"></footer>
</body>
</html>