body {
  padding-left: 16em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #bebebe;
  background-color: #1e1e1e;
}

nav ol {
  list-style-type: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 2em;
  left: 1em;
  width: 15em;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

nav ol li {
  background: #333333;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #454545;
}

nav a {
  text-decoration: none;
}

a:link {
  color: wheat;
}

#interest section ol {
  list-style-type: upper-roman;
}

#interest .author {
  font-variant-caps: petite-caps;
}

#interest .title {
  font-style: italic;
}

footer {
  border-top: 2px dotted #454545;
}

nav ol li:last-child ul {
  display: none;
}

nav ol li:last-child:hover ul {
  display: block;
}

nav ul li:hover {
  border-right: 1em solid wheat;
}

@media print {
  body {
    padding-left: 0px;
  }

  a {
    text-decoration: none;
  }

  nav {
    display: none;
  }
}
