article::after{
    content: "";
    display: block;
    clear: left;
}

article h2 {
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
}

article h2 > time {
    color: #a9a9aa;
}

article img {
    float: left; 
    margin: 0 10px 10px 0;
}
