<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <table>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.name}"></td>
            <td th:text="${car.doors}"></td>
        </tr>
        </tbody>
    </table>
    <footer th:insert="footer.html"></footer>
</body>
</html>