<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/record-forms.css}">
</head>
<body>
    <div id="record_forms">
        <form method="post" th:action="@{/client}" th:object="${searchParameters}">
            <div>
                <label>Page:</label>
                <input type="number" min="1" placeholder="1" th:field="*{page}">
            </div>
            <div>
                <label>Location:</label>
                <input type="text" placeholder="livingroom" th:field="*{location} ">
            </div>
            <div>
                <label>From:</label>
                <input type="date" th:field="*{dateFrom}"
                        th:value="*{dateFrom}"
                        th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            </div>
            <div>
                <label>To:</label>
                <input type="date" th:field="*{dateTo}"
                       th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            </div>
            <div><input type="submit" value="submit"></div>
        </form>
    </div>
</body>
</html>