<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" th:href="@{/record-table.css}">
</head>
<body>
<div id="record_table">
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Humidity</td>
                <td>Pressure</td>
            </tr>
            <tr th:each="record: ${records}">
                <td th:text="${record.name}"></td>
                <td><time th:text="${#dates.format(record.date, 'yyyy-MM-dd HH:mm:ss')}"></time></td>
                <td th:text="${record.humidity}"></td>
                <td th:text="${record.pressure}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>