.message 
	color: #911111 
	font-family: "Roboto", sans-serif 
	&:hover 
		background: compliment(#911111) 
	.message-item 
		padding: 10px 
		margin: 2px 
		font 
			size: 0.9rem 
			weight: bold 
			family: sans-serif 
