:root {
    --main_color: #ff0000;
    --main_color_font: #ffffff;
}

body {
    display: grid;
    place-items: center;
}

div#grid-container {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "baner baner rekrutacja"
        "wi wsnm important"
        "wi wsnm current"
        "gallery gallery gallery"
        "footer footer footer";
}

div#grid-container>* {
    display: flex;
    margin: 5px 0 5px 0;
}

header {
    grid-area: header;
    justify-content: center;
}

nav {
    grid-area: nav;
    background-color: var(--main_color);

}

nav ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--main_color_font);
}

div#baner {
    grid-area: baner;
    justify-content: center;
    align-items: center;
}

div#rekrutacja {
    grid-area: rekrutacja;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#wi {
    grid-area: wi;
    flex-direction: column;
}

div#wsnm {
    grid-area: wsnm;
    flex-direction: column;
}

div#important {
    grid-area: important;
    flex-direction: column;
}


div#current {
    grid-area: current;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#gallery {
    grid-area: gallery;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    padding: 15px 5px 15px 5px;
    color: var(--main_color_font);
    background-color: var(--main_color);
}