ul {
  list-style: none;
}

li div.ikona {
  content: "";
  display: block;
  position: fixed;
  margin-left: -16px;
  width: 16px;
  height: 16px;
  background: transparent url("icons.png");
  cursor: pointer;
}

li.zamkniety > div.ikona:first-child {
  background-position: top;
}

li.otwarty > div.ikona:first-child {
  background-position: center;
}

li.lisc > div.ikona:first-child {
  background-position: bottom left;
}
