.table(@color;@width;@border) {
  border: solid @color @border;
  width: @width;
  tfoot {
    background: darken(@color, 10%);
    color: lighten(@color, 10%);
  }

  thead {
    background: lighten(@color, 10%);
    color: darken(@color, 30%);
  }

  tbody {
    td {
      background: darken(@color, 30%);
      color: lighten(@color, 20%);
    }
  }
}

#t1 {
  .table(@color:#ee82ee;@width:300px;@border:1px);
}

#t2 {
  .table(@color:#6495ed;@width:300px;@border:1px);
}

#t3 {
  .table(@color:#ffa500;@width:500px;@border:1px);
}

#t4 {
  .table(@color:#7fff00;@width:600px;@border:1px);
}
