body {
  background-color: #f0ffff;
  color: #000080;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  text-align: center;
  font-weight: bold;
  min-width: 50%;
  min-height: 50px;
  border-radius: 25px 25px 0px 0px;
  border-top: 1px solid #000080;
  background-color: #d3d3d3;
}

nav > ul > li {
  padding-top: 5px;
  background-color: #a9a9a9;
}

li:not(.active) > ul {
  display: none;
}

.active {
  background-color: #f0ffff;
}

li.active ul {
  display: flex;
  margin: 0 50% 0 -50%;
  align-content: stretch;
}

li.active li {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 5px 0 0 5px;
}

.selected {
  border-color: #d3d3d3;
  background-color: #f0ffff;
}
