body {
  counter-reset: list pictures;
}

h2 {
  counter-reset: sublist;
}

h2:before {
  counter-increment: list;
  content: "Rozdzial " counter(list) ". ";
}

h3:before {
  counter-increment: sublist;
  content: counter(list) "." counter(sublist) ". ";
}

.definition:before {
  font-weight: bold;
  content: "Difinicja " counter(list) "." counter(sublist) ". ";
}

.theorem:before {
  font-weight: bold;
  content: "Twierdzenie " counter(list) "." counter(sublist) ". ";
}

figure figcaption:before {
  counter-increment: pictures;
  content: "Rysunek " counter(pictures) ". ";
}

.proof::before {
  font-style: italic;
  content: "Dowód. ";
}
