table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: left;
}

th{
  text-align: center;
}

th {
  border-bottom: 1px solid black;
}


td:nth-of-type(n + 3) {
  text-align: right;
}

tr:not(:first-child):not(:nth-of-type(even)) {
  background: #efefff;
}
