@base_color: #ffb5b5;
@base_width: 80%;

body {
  display: grid;
  place-items: center;
}

.bg_image {
  background-image: url("images/bg_nav.png");
  background-size: contain;
}

.format_link {
  a {
    color: darken(@base_color, 70%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
  }
}

div#container {
  @max800: ~"(max-width: 800px)";
  @max600: ~"(max-width: 600px)";

  display: grid;
  width: @base_width;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "news main important"
    "footer footer footer";

  @media @max800 {
    width: calc(@base_width + 10%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "news important"
      "footer footer";
  }

  @media @max600 {
    width: calc(@base_width + 20%);
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "news"
      "important"
      "footer";
  }

  div {
    padding: 0 15px 0 15px;
  }

  header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: @base_color;
  }

  nav {
    grid-area: nav;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      .bg_image;

      li {
        flex-grow: 1;
        padding: 0.25em;


        a {
          color: white;
          text-decoration: none;
        }

        &:hover {
          background-image: url("images/bg_nav_h.png");
          background-size: cover;
        }

        @media @max600 {
          .bg_image;
          text-align: center;
        }
      }

      @media @max600 {
        flex-direction: column;
        background: none;
      }
    }
  }

  #left {
    grid-area: news;
    background-color: lighten(@base_color, 5%);
    .format_link;
  }

  #main {
    grid-area: main;
    background-color: lighten(@base_color, 10%);

  }

  #important {
    grid-area: important;
    background-color: darken(@base_color, 5%);
    .format_link;

    ul {
      list-style-image: url("images/bullet.png");
    }
  }

  footer {
    grid-area: footer;
    background-color: darken(@base_color, 10%);
    display: flex;
    justify-content: center;
  }
}