<!DOCTYPE html>
<html>

<body style="background-color: blanchedalmond; font-family: monospace">
    <h1>
        Hello Docker!!!
    </h1>
    <h2>
        This is the lab, and it's <u>{{.User}}</u>'s solution!
    </h2>
</body>

</html>